@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  @apply text-5xl text-center pt-10 pb-5 font-bold leading-loose
}

h2 {
  @apply lg:text-7xl text-4xl font-medium py-5
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

